<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            color: red;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: red;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        footer {
            background-color: red;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        .container {
            padding: 20px;
        }
        .project {
            margin-bottom: 20px;
            padding: 10px;
            border: 2px solid red;
        }
        .project h2 {
            margin: 0;
            color: red;
        }
        .project a {
            color: red;
            text-decoration: none;
        }
        .project a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <h1>Liste des projets GitHub</h1>
    </header>

    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <p>&copy; 2024 Votre Entreprise</p>
    </footer>
</body>
</html>